.sidebar {
  background-color: #1a1a1a;
  box-sizing: border-box;
  color: #a6a6a6;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  height: 100vh;
  overflow-x: hidden;
  flex-basis: 15vw;
  justify-content: start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: .555555vh .3125vw;
}

.sidebar > * {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 200;
  margin-left: .5vw;
  margin-top: 2vh;
}

.new-note-container {
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
}

.new-note-button {
  background-color: #00a82d;
  border-radius: 20px;
  border: none;
  color: #f8fcf9;
  cursor: pointer;
  font-size: 14px;
  height: 5vh;
  padding-left: 1.56vw;
  text-align: left;
  vertical-align: middle;
  width: 90%;
  box-sizing: border-box;
}

.new-note-button:hover {
  background-color: #008f25;
}

.navigation {
  width: 15vw;
  box-sizing: content-box;
  align-self: stretch;
  margin-left: -.3vw;
  min-height: 5vh;
}

.nav-button:hover {
  background-color: #404040;
  color: #e6e6e6;
}

.navigation a {
  align-items: center;
  color: inherit;
  display: flex;
  height: 32px;
  text-decoration: none;
  justify-self: start;
}

.new-note-container a {
  text-decoration: none;
  color: inherit;
}

.nav-button {
  justify-self: start;
  display: flex;
  padding-left: 2.2em;
  align-items: center;
  height: 5vh;
}

.fa, .fas {
  font-weight: 900;
}