# Dependencies
/.pnp
.pnp.js

# Testing
/coverage

# Production
/frontend/static/frontend/*
!/frontend/static/frontend/.gitkeep

# Miscellaneous
.DS_Store
.env
datadump.json
.vscode
db.sqlite3
staticfiles

npm-debug.log*
node_modules
