# Dependencies
/frontend/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
# /frontend/static/frontend

# Miscellaneous
.DS_Store
.env
datadump.json
.vscode
db.sqlite3
staticfiles

npm-debug.log*