[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2 = "*"
jsonfield = "*"
bleach = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
