.nav-bar {
  background-color: #1a1a1a;
  box-sizing: border-box;
  color: #a6a6a6;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
  padding-top: 5px;
  width: 241px;
  z-index: 1;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a9a9a9;
  font-size: 16px;
  font-weight: 200;
  margin-left: 16px;
  margin-top: 10px;
  width: 100%;
}

.buttons {
  display: grid;
  margin-top: 54px;
  width: 100%;
}

.new-note {
  background-color: #00a82d;
  border-radius: 20px;
  border: none;
  color: #f8fcf9;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  margin-left: 12px;
  margin-right: 6px;
  padding-bottom: 4px;
  padding-left: 25px;
  padding-right: 73px;
  padding-top: 4px;
  text-align: left;
  vertical-align: middle;
  width: 214px;
}

.new-note:hover {
  background-color: #008f25;
}

.notebooks {
  margin-top: 12px;
  padding-left: 34px;
}

.notebooks:hover {
  background-color: #404040;
  color: #e6e6e6;
}

.notebooks a {
  align-items: center;
  color: inherit;
  display: flex;
  height: 32px;
  text-decoration: none;
  width: 241px;
}

.row {
  align-items: center;
  display: flex;
}

.fa, .fas {
  font-weight: 900;
}