.note-editor-container {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  flex-grow: 1;
  flex-basis: auto;
  background-color: #eeeeee;
  max-height: 100vh !important;
}

.editor-proper {
  background-color: #f5f5f5;
  width: 80% !important;
  margin: 20px auto;
  padding: 20px;
  border-radius: 6px;
}

.editor-proper strong {
  font-weight: bold;
}

.editor-proper em {
  font-style: italic;
}

.editor-proper blockquote {
  border-left: 2px solid #dddddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaaaaa;
  font-style: italic;
}

.editor-proper h1 {
  font-size: 2em;
  font-weight: bold;
}

.editor-proper h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.editor-proper code {
  font-family: monospace;
  background-color: #eeeeee;
  padding: 3px;
}

.editor-proper ul { 
  list-style-type: disc; 
  list-style-position: inside; 
}

.editor-proper ol { 
  list-style-type: decimal; 
  list-style-position: inside; 
}

.editor-proper ul ul, .editor-proper ol ul {
  list-style-position: inside;
  margin-left: 15px;
}

.editor-proper ol li, .editor-proper ul li { 
  list-style-position: inside;
  margin-left: 15px;
}

.note-editor-container button {
  margin: 0px auto;
  border: none;
  line-height: 1.4;
  font-weight: bold;
  cursor: pointer;
}